chains*
results/
last_chains/
last_slurm-files/
old_submit/
slurm-files/
data/
frbayes/__pycache__/
venv/
PolyChordLite/
frbayes.egg-info/
model_comparison.png
simulated_data.png
subfast.slurm
submit*
test_vectorization.py


